* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: var(--color-2);
}

.login__image-y-titulo {
  align-items: center;
}

.login__image-y-titulo h1 {
  color: cyan;
  margin-top: 2rem;
}

.container-login,
.container-login div {
  color: var(--color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 4.2rem;
  padding: 4px;
  gap: 2rem;
}

.container-login {
  margin-top: 8%;
  gap: 2px;
  max-height: 250px;
  height: 100vh;
}

.container-login .login {
  width: 28%;
  border: none;
  box-shadow: 11px 16px 15px 0px rgba(0, 0, 0, 0.3);
  background: var(--color-3);
  border-radius: 8px;
  align-items: start;
  padding: 4rem;
}

.login label {
  color: var(--color-5);
}

p {
  margin-top: 12px;
  font-size: 1.5rem;
  color: var(--color-4);
}

.link {
  text-decoration: none;
  color: rgba(69, 140, 202, 0.795);
  font-size: 1.5rem;
}

.form-input {
  width: 100%;
  background: var(--color-2);
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 8px;
  border: none;
  border-radius: 20px;
}

.input-boton {
  width: 30%;
  margin: 12px;
  color: var(--color-1);
  background-color: #52a5e0;
  padding: 4px;
  font-size: 2.8rem;
  align-self: center;
  border-radius: 8px;
}

.input-boton:hover {
  background-color: #1083d6;
}
